if theme.adsense
    .adsense
        ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-6188640546219653", data-ad-slot="3335325225", data-ad-format="auto")
if theme.fb
    .fb-comments-area
        .fb-comments(data-href=url_for(config.url + '/' + page.path) data-width="700" data-numposts="5")
