.copyright
    - var hexoURL = "https://hexo.io/";
    - var githubURL = "https://github.com/stunstunstun";
    - var themeURL = "https://github.com/stunstunstun/hexo-theme-chiangmai";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=githubURL, target="_blank") Minhyeok Jung]. Powered by #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=themeURL, target="_blank") hexo-theme-chiangmai].
