doctype
html(lang=config.language prefix="og: http://ogp.me/ns#")
    head
        include head.pug
    body
        .wrap
            header
                a.logo-link(href=url_for())
                    img(src=url_for(theme.logo) alt="logo")
                include nav.pug
            main.container
                block container
            footer
                block pagination
                block adsense
                block copyright
        include scripts.pug
