doctype
html(lang=config.language prefix="og: http://ogp.me/ns#")
    head
        include head.pug
    body.post
        #fb-root
        .wrap
            header
                block header
            main.post
                block container
            footer
                block comment
                block copyright
        include scripts.pug
