doctype
html(lang=config.language prefix="og: http://ogp.me/ns#")
    head
        include head.pug
    body
        #fb-root
        .wrap
            header.header
                nav.navigation
                    a.navigation-logo
                        img(src='images/back.png' alt='back')
            main.container
                block container
            footer
                block pagination
                block copyright
        include scripts.pug

