doctype
html(lang=config.language prefix="og: http://ogp.me/ns#")
    head
        include head.pug
    body.post
        #fb-root
        .wrap
            header
                nav.navi-post
                    a.navi-post-back(href='javascript:history.back()')
                        i(class="fa fa-arrow-left", aria-hidden="true")
                    a.navi-post-home(href=url_for())
                        i(class="fa fa-home", aria-hidden="true")
            main.container
                block container
            footer
                block pagination
                block copyright
        include scripts.pug

