header {
    min-height: 150px;
    text-align: center;

    .nav {
        float: none;
        display: block;
    }

    .logo-link img {
        height: 150px;
    }

    .nav-list-item {
        display: inline-block;
        padding: 0px 15px;
        position: relative;
        a:before {
            content: "#";
            color: #ce1458;
            position: absolute;
            left: 0.12em;
            top: -0.03em;
            font-size: 1.2em;
            font-weight: bold;
        }

        a {
            font-size: 16px;
            line-height: 1.3;
        }
    }
}
