header {
    text-align: center;

    .nav {
        float: none;
        display: block;
    }

    .logo-link img {
        height: 130px;
    }

    .nav-list-item {
        display: inline-block;
        position: relative;
        padding: 2px 15px;

        a:before {
            content: "#";
            color: #ce1458;
            position: absolute;
            left: 0.18em;
            top: 0.07em;
            font-size: 1.2em;
            font-weight: bold;
        }
        
        a {
            font-size: 16px;
            line-height: 1.3;
        }
    }
}
