header {
    text-align: center;

    .nav {
        float: none;
        display: block;
    }

    .nav-list-item {
        display: inline-block;
        position: relative;
        padding: 2px 15px;

        a:before {
            content: "#";
            color: #ce1458;
            position: absolute;
            left: 0.1em;
            top: 0.10em;
            font-size: 1.1em;
            font-weight: bold;
        }

        a {
            font-size: 18px;
            line-height: 1.3;
        }
    }
}

nav.navi-post {
    flex-direction: row;
    width: 100%;
    height: 40px;
    padding-top: 16px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);

    .fa-home {
        transform: scale(1.9, 1.9);
    }
    .fa-arrow-left {
        transform: scale(1.7, 1.7); 
    }
    .navi-post-back {
        float: left;      
        width: 40px;
        height: 40px;
        padding-left: 5px;
    }
    .navi-post-home {
        align-self: center;        
        width: 40px;
        height: 40px;
    }
}