main.container {
    margin: 3em 10px;
}

@media screen and (min-width: 700px) {
    .wrap {
        width: 700px;
        margin: 0 auto;
    }

    header {
        padding: 0px 100px;
    }
}

@media screen and (max-width: 700px) {
    .wrap {
        width: 100%;
    }

    body {
        font-size: 15px;
    }

    header {
        .logo-link img {
            height: 100px;
        }
        .nav-list-item {
            padding: 2px 10px;
            a:before {
                content: "";
            }
        }
    }

    main.container,
    .archive {
        margin-top: 35px;
    }

    .archive .post-item {
        padding-left: 20px;
    }

    .post-block {
        .post-title {
            font-size: 26px;
        }
    }
    .post-content {
        h2, h3, h4, h5, h6 {
            max-width: 700px;
        }
        h2, h3 {
            font-size: 22px;
            a:before {
                content: "";
            }
        }
        h4, h5, h6 {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .ds-thread,
    #disqus_thread {
        margin: 2em 10px;
    }
}
