mixin home
    if theme.adsense
        - var clientId = theme.adsense;
        ins(class="adsbygoogle adsense-bottom", style="display:block", data-ad-client=clientId, data-ad-slot="3335325225", data-ad-format="auto")

mixin post
    if theme.adsense
        - var clientId = theme.adsense;
        ins(class="adsbygoogle adsense-top", style="display:block", data-ad-client=clientId, data-ad-slot="6129396565", data-ad-format="auto")

