mixin postInfo(item)
    .post-info
        .post-info-home
            .post-categories
                if item.categories && item.categories.length
                    each category in item.categories.data
                        a(href=url_for('/categories/' + category.name) target="_self")
                            span!= category.name.toUpperCase()

mixin posts
    ul.home.post-list
        - page.posts.each(function (item) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                    +postInfo(item)
        - })

